:root {

    /*Primary*/
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);


    /*Gradients*/
    --Light-slate-blue-bc: hsl(252, 100%, 67%);
    --Light-royal-blue-bc: hsl(241, 81%, 54%);
    --Violet-blue-cc: hsla(256, 72%, 46%, 1);
    --Persian-blue-cc: hsla(241, 72%, 46%, 0);

    /*Neutral*/
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-size: 18px;
    font-family: Hanken Grotesk;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 5px 5px 50px grey;
    border-radius: 30px; 
}

.content {
    display: flex;
}

.content .result {
    width: 240px;
    height: 360px;
    padding: 2.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    border-radius: 30px;
    background: linear-gradient(
        0deg,
        hsl(241, 81%, 54%),
        hsl(252, 100%, 67%)
    );
}

.content .result .title {
    margin-bottom: 100px;
    margin-top: -100px;
    font-size: 20px;
    font-weight: normal;
    color: var(--Light-lavender);
}

.content .result .circle {
    width: 150px;
    height: 150px;
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 48px;
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        hsla(241, 72%, 46%, 0),
        hsla(256, 72%, 46%, 1)
    );
}

.content .result .circle .valor {
    font-size: 50px;
}

.content .result .circle .percentage {
    font-size: 13px;
    margin-top: -9px;
    color: var(--Light-lavender)
}

.content .result .great {
    margin-top: 20px;
    font-size: 25px;
}

.content .result .scored {
    margin-top: 13px;
    font-weight: 2px;
    font-style: normal;
    margin-bottom: -70px;
    color: var(--Light-lavender);
}

.content .summary {
    padding: 2.5rem;
    font-style: normal;
}

.content .summary h1 {
    font-size: 18px;
    margin-bottom: 20px;
}

.content .summary .desc .reaction {
    display: flex;
    justify-content: center;
}

.content .summary .desc .reaction {
    display: flex;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 87, 87, 0.1);
    border-radius: 6px;
}

.content .summary .desc .reaction .text {
    color: var(--Light-red);
    margin-right: 70px;
}

.content .summary .desc .memory {
    display: flex;
    margin-top: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(153, 255, 31, 0.1);
    border-radius: 6px;
}

.content .summary .desc .memory .text {
    color: var(--Orangey-yellow);
    margin-right: 72px;
}

.content .summary .desc .verbal {
    display: flex;
    margin-top: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 107, 189, 0.1);
    border-radius: 6px;
}

.content .summary .desc .verbal .text {
    color: var(--Green-teal);
    margin-right: 85px;
}

.content .summary .desc .visual {
    display: flex;
    margin-top: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(17, 35, 212, 0.1);
    border-radius: 6px;
}

.content .summary .desc .visual .text {
    color: var(--Cobalt-blue);
    margin-right: 86px;
}

.content .summary .desc .text {
     margin: 8px;
}

.content .summary .continue p {
    text-align: center;
    font-size: 16px;
    padding: 12px;
    margin-top: 50px;
    color: white;
    background-color: var(--Dark-gray-blue);
    border-radius: 32px;
}

.content .summary .desc .values,
.content .summary .desc .value {
    margin-top: 9px;
}

.content .summary .desc .values {
    color: var(--Light-lavender);
}