@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@700&family=Lexend+Deca&display=swap');
:root {
   /*Primary*/

    --Light-red: hsl(0, 100%, 67%);
    --orange-animation: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /*Gradients*/

    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);

    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    /*Neutral*/

    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--White);
    font-family: 'Hanken Grotesk', sans-serif;
}

.results-summary {
    background-color: var(--White);
    box-shadow: 1px 1px 20px;
    border-radius: 20px;
}

.results-summary__content {
    display: flex;
}

.content__result {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    color: var(--White);
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 20px;
    background-image: linear-gradient(
        0deg,
        hsl(241, 81%, 54%),
        hsl(252, 100%, 67%));
}

.content__result__titulo {
    font-size: 20px;
    color: var(--Pale-blue);
}

.content__result__circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(
        0deg,
        hsla(241, 72%, 46%, 0),
        hsla(256, 72%, 46%, 1));
}

.content__result__circulo__paragrafo {
    font-size: 50px;
}

.content__result__circulo__desc {
    font-size: 14px;
    font-weight: 500;
    margin-top: -10px;
    color: var(--Light-lavender);
}

.content__result__titulo-nota {
    font-weight: 500;
    font-size: 30px;
}

.content__result__paragrafo-desc {
    color: var(--Light-lavender);
    font-size: 18px;
}

.content__summary {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.content__summary__desc {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reac {
    display: flex;
    gap: 3px;
}

.content__summary__desc__reaction {
    display: flex;
    padding: 13px;
    border-radius: 10px;
    gap: 80px;
    background-color: hsl(0, 100%, 96%);
}

.content__summary__desc__reaction__texto {
    color: var(--Light-red);
}

.memo {
    display: flex;
    gap: 3px;
}

.content__summary__desc__memory {
    display: flex;
    padding: 13px;
    border-radius: 10px;
    justify-content: space-between;
    background-color: hsl(0, 100%, 96%);
}

.content__summary__desc__reaction__texto {
    color: var(--Light-red);
}

.verb {
    display: flex;
    gap: 3px;
}

.content__summary__desc__verbal {
    display: flex;
    padding: 13px;
    border-radius: 10px;
    justify-content: space-between;
    background-color: hsl(0, 100%, 96%);
}

.content__summary__desc__reaction__texto {
    color: var(--Light-red);
}

.visu {
    display: flex;
    gap: 3px;
}

.content__summary__desc__visual {
    display: flex;
    padding: 13px;
    border-radius: 10px;
    justify-content: space-between;
    background-color: hsl(0, 100%, 96%);
}

.content__summary__desc__reaction__texto {
    color: var(--Light-red);
}
